node-red/presence_simulation.json
[
    {
        "id": "6ba0d85d8798be47",
        "type": "tab",
        "label": "Vacances",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43bd0c63f0b7c3b6",
        "type": "inject",
        "z": "6ba0d85d8798be47",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/10 17-22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "2e974dec10475b96"
            ]
        ]
    },
    {
        "id": "2e974dec10475b96",
        "type": "api-current-state",
        "z": "6ba0d85d8798be47",
        "name": "mode vacances activé?",
        "server": "1a8176b8.732339",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.test_vacances",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "a34c3de554e5a27b"
            ],
            []
        ]
    },
    {
        "id": "a34c3de554e5a27b",
        "type": "function",
        "z": "6ba0d85d8798be47",
        "name": "25% luck",
        "func": "const random = Math.round(Math.random() * 100);\n\nif (random < 75) {\n    node.status({ fill: \"red\", text: random });\n    return null;\n}\nnode.status({ fill: \"green\", text: random });\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "3d537c98d40e2367"
            ]
        ]
    },
    {
        "id": "3d537c98d40e2367",
        "type": "ha-get-entities",
        "z": "6ba0d85d8798be47",
        "name": "Retrouve les entités dans un groupe, obtenir 1 entité aléatoire",
        "server": "1a8176b8.732339",
        "version": 0,
        "rules": [
            {
                "property": "entity_id",
                "logic": "in_group",
                "value": "light.test_vacances",
                "valueType": "str"
            },
            {
                "property": "state",
                "logic": "is",
                "value": "off",
                "valueType": "str"
            }
        ],
        "output_type": "random",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 900,
        "y": 340,
        "wires": [
            [
                "fdfa315ea7893bf6"
            ]
        ]
    },
    {
        "id": "fdfa315ea7893bf6",
        "type": "api-call-service",
        "z": "6ba0d85d8798be47",
        "name": "Allumage de l'entité",
        "server": "1a8176b8.732339",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [
            "{{payload.entity_id}}"
        ],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1250,
        "y": 340,
        "wires": [
            [
                "e6cc7b85cd99e495",
                "7e09fb705fac3ebf"
            ]
        ]
    },
    {
        "id": "e6cc7b85cd99e495",
        "type": "delay",
        "z": "6ba0d85d8798be47",
        "name": "",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "8",
        "randomLast": "45",
        "randomUnits": "minutes",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1540,
        "y": 340,
        "wires": [
            [
                "639c74473fde47a0"
            ]
        ]
    },
    {
        "id": "639c74473fde47a0",
        "type": "api-call-service",
        "z": "6ba0d85d8798be47",
        "name": "extinction",
        "server": "1a8176b8.732339",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [
            "{{payload.entity_id}}"
        ],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7e09fb705fac3ebf",
        "type": "api-call-service",
        "z": "6ba0d85d8798be47",
        "name": "Notifications",
        "server": "1a8176b8.732339",
        "version": 5,
        "debugenabled": false,
        "domain": "notify",
        "service": "mobile_app_a063",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Allumage {{payload.attributes.friendly_name}}\",\"title\":\"HASSIO\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1470,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1a8176b8.732339",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
